.AppBar{
    margin-bottom: 1em;
}

.active{
    text-decoration: none;
}

.active > button {
    color: rgb(206, 206, 55);
}

.active > h6 {
    color: rgb(206, 206, 55);
}

h6{
    color: white;
}

a{
    text-decoration: none;
}